<div class="backdrop">
  <div class="modal">
    <button class="modal-close-btn" type="button">
      <svg class="icon-close-modal" width="24" height="24">
        <use href="./img-project/icons.svg#icon-close"></use>
      </svg>
    </button>
    <picture class>
      <source
        media="(max-width:767px)"
        srcset="
          ./img-project/img-success/imgmob.jpg,
          ./img-project/img-success/imgmob@2x.jpg 2x
        "
      />
      <source
        media="(min-width:768px)"
        srcset="
          ./img-project/img-success/imgtab.jpg,
          ./img-project/img-success/imgtab@2x.jpg 2x
        "
      />

      <source
        media="(min-width:1158px)"
        srcset="
          ./img-project/img-success/imgdesc.jpg,
          ./img-project/img-success/imgdesc@2x.jpg 2x
        "
      />
      <img
        class="modal-img"
        src="./img-project/img-success/imgmob.jpg"
        alt="person smiling warmly at their laptop"
      />
    </picture>

    <h2 class="modal-title">Success! You're registered.</h2>
    <p class="modal-text">
      We've sent a confirmation to your email address. Please check your inbox
      (and your spam folder) to find your ticket and further instructions.<br />
      See you at the conference!
    </p>
    <button class="modal-button" type="button">Close</button>
  </div>
</div>
